In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Obesity_ds.csv')

In [55]:
df.shape

(24945, 6)

In [3]:
df.head(4)

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]

In [4]:
df.columns

Index(['Unnamed: 0', '2016', '2016.1', '2016.2', '2015', '2015.1', '2015.2',
       '2014', '2014.1', '2014.2',
       ...
       '1978.2', '1977', '1977.1', '1977.2', '1976', '1976.1', '1976.2',
       '1975', '1975.1', '1975.2'],
      dtype='object', length=127)

In [5]:
#df=data.copy()
#df.rename(columns={'Unnamed: 0':'country'},inplace=True)
#df=df.melt(id_vars=['country'],var_name='year')

In [5]:
#Copying this original dataframe to another place
dfc=df.copy()

In [6]:
#Rename the columns

df.rename(columns={'Unnamed: 0':'country'},inplace=True)

In [7]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html?highlight=melt#pandas.melt

#Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

#This function is useful to massage a DataFrame into a format where one or more columns are identifier
#variables (id_vars), while all other columns, considered measured variables (value_vars),
#are “unpivoted” to the row axis, leaving just two non-identifier columns, ‘variable’ and ‘value’.

df=df.melt(id_vars=['country'],var_name='year')

In [9]:
df.shape

(24948, 3)

In [11]:
df=df.drop([0,1,2])

In [12]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html?highlight=split

df[['year','gender']]=df['year'].str.split('.',expand=True)

ValueError: Columns must be same length as key

In [13]:
df

                                  country  year             value gender
3                             Afghanistan  2016     5.5 [3.4-8.1]   None
4                                 Albania  2016  21.7 [17.0-26.7]   None
5                                 Algeria  2016  27.4 [22.5-32.7]   None
6                                 Andorra  2016  25.6 [20.1-31.3]   None
7                                  Angola  2016    8.2 [5.1-12.2]   None
...                                   ...   ...               ...    ...
24943  Venezuela (Bolivarian Republic of)  1975   13.2 [7.1-20.7]      2
24944                            Viet Nam  1975     0.2 [0.1-0.5]      2
24945                               Yemen  1975     4.2 [1.5-8.9]      2
24946                              Zambia  1975     2.5 [1.0-5.1]      2
24947                            Zimbabwe  1975    6.7 [3.0-12.2]      2

[24945 rows x 4 columns]

In [14]:
#reseting indexes
df=df.reset_index(drop=True)

In [15]:
df['gender']=df['gender'].map({None:'both sex','1':'male','2':'female'})
df

                                  country  year             value    gender
0                             Afghanistan  2016     5.5 [3.4-8.1]  both sex
1                                 Albania  2016  21.7 [17.0-26.7]  both sex
2                                 Algeria  2016  27.4 [22.5-32.7]  both sex
3                                 Andorra  2016  25.6 [20.1-31.3]  both sex
4                                  Angola  2016    8.2 [5.1-12.2]  both sex
...                                   ...   ...               ...       ...
24940  Venezuela (Bolivarian Republic of)  1975   13.2 [7.1-20.7]    female
24941                            Viet Nam  1975     0.2 [0.1-0.5]    female
24942                               Yemen  1975     4.2 [1.5-8.9]    female
24943                              Zambia  1975     2.5 [1.0-5.1]    female
24944                            Zimbabwe  1975    6.7 [3.0-12.2]    female

[24945 rows x 4 columns]

In [16]:
#df.rename(columns={'value':'BMI'},inplace=True)
df1=df.copy()
#df['BMI']=df1['BMI'].str.split('[',expand=True)[0]
#df['BMI_lower_esti']=df1['BMI'].str.split('[',expand=True)[1].str.split('-',expand=True)[0]
#df['BMI_upper_esti']=df1['BMI'].str.split('[',expand=True)[1].str.split('-',expand=True)[1].str.split(']',expand=True)[0]
#df=df[['country','year','gender','BMI','BMI_upper_esti','BMI_lower_esti']] #reset the column sequence
#df

In [17]:
df.rename(columns={'value':'BMI'},inplace=True)

In [21]:
df1.rename(columns={'value':'BMI'},inplace=True)

In [22]:
df['BMI']=df1['BMI'].str.split('[',expand=True)[0]

In [23]:
df['BMI_lower_esti']=df1['BMI'].str.split('[',expand=True)[1].str.split('-',expand=True)[0]

In [24]:
df['BMI_upper_esti']=df1['BMI'].str.split('[',expand=True)[1].str.split('-',expand=True)[1].str.split(']',expand=True)[0]

In [25]:
df=df[['country','year','gender','BMI','BMI_upper_esti','BMI_lower_esti']]

In [26]:
df.isna().sum()

country           250
year                0
gender              0
BMI                 0
BMI_upper_esti    879
BMI_lower_esti    879
dtype: int64

In [27]:
df1=df.dropna(subset=['country'])

In [28]:
df1=df1.drop(df[df.country=='Country'].index)

In [29]:
df.isnull().sum().sum()

2008

In [30]:
df.BMI_upper_esti.value_counts(dropna=False).head()

NaN    879
1.3    141
1.2    140
1.6    135
1.4    134
Name: BMI_upper_esti, dtype: int64

In [31]:
df.BMI_lower_esti.value_counts(dropna=False).head()

NaN    879
0.1    502
0.2    428
0.3    384
0.4    362
Name: BMI_lower_esti, dtype: int64

In [32]:
df.gender.value_counts(dropna=False)

male        8316
female      8316
both sex    8313
Name: gender, dtype: int64

In [24]:
df.isnull().sum()

country    250
year         0
BMI          0
gender       0
dtype: int64

In [52]:
pys = pd.read_csv('Inpatient_Psychiatric_Facility_Quality_Measure_Data___by_Facility.csv')

In [36]:
pyscho

,Provider_Number,Hospital_Name,Address,City,State,ZIP_Code,County_Name,HBIPS-2_Measure_Description,HBIPS-2_Overall_Rate_Per_1000,HBIPS-2_Overall_Num,...,IMM-2_Numerator,IMM-2_Denominator,IMM-2_Footnote,HCP_Measure_Description,HCP_%,HCP_Numerator,HCP_Denominator,HCP_Footnote,Flu_Season_Start_Date,Flu_Season_End_Date
0,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN STREET PO BOX 1010,OPP,AL,36467,Covington,Hours of physical-restraint use,0.00,0.00,...,50,128,NaN,Healthcare Personnel Influenza Vaccination,54,15,28,NaN,10/01/2015,03/31/2016
1,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,Crenshaw,Hours of physical-restraint use,0.44,59.63,...,88,88,NaN,Healthcare Personnel Influenza Vaccination,34,15,44,NaN,10/01/2015,03/31/2016
2,10011,ST. VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,Jefferson,Hours of physical-restraint use,0.00,0.00,...,54,80,NaN,Healthcare Personnel Influenza Vaccination,42,14,33,NaN,10/01/2015,03/31/2016
3,10012,DEKALB REGIONAL MEDICAL CENTER,200 MED CENTER DRIVE,FORT PAYNE,AL,35968,DeKalb,Hours of physical-restraint use,0.00,0.00,...,105,106,NaN,Healthcare Personnel Influenza Vaccination,100,54,54,NaN,10/01/2015,03/31/2016
4,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,Shelby,Hours of physical-restraint use,0.11,41.02,...,171,171,NaN,Healthcare Personnel Influenza Vaccination,71,65,92,NaN,10/01/2015,03/31/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,534001,WYOMING STATE HOSPITAL,831 HWY 150 SOUTH,EVANSTON,WY,82931,Uinta,Hours of physical-restraint use,NaN,NaN,...,Not Available,Not Available,5.0,Healthcare Personnel Influenza Vaccination,Not Available,Not Available,Not Available,5.0,10/01/2015,03/31/2016
1640,534004,WYOMING BEHAVIORAL INSTITUTE,2521 EAST 15TH STREET,CASPER,WY,82609,Natrona,Hours of physical-restraint use,0.04,23.35,...,301,304,NaN,Healthcare Personnel Influenza Vaccination,91,262,288,NaN,10/01/2015,03/31/2016
1641,670010,MAYHILL HOSPITAL,2809 SOUTH MAYHILL ROAD,DENTON,TX,76208,Denton,Hours of physical-restraint use,0.03,11.56,...,285,340,NaN,Healthcare Personnel Influenza Vaccination,59,115,194,NaN,10/01/2015,03/31/2016
1642,670072,HOPEBRIDGE HOSPITAL,5556 GASMER DRIVE,HOUSTON,TX,77035,Harris,Hours of physical-restraint use,0.01,5.11,...,0,2372,NaN,Healthcare Personnel Influenza Vaccination,23,57,249,NaN,10/01/2015,03/31/2016
1643,670093,"ASPIRE BEHAVIORAL HEALTH OF CONROE, LLC","2006 SOUTH LOOP 336 WEST, SUITE 500",CONROE,TX,77304,Montgomery,Hours of physical-restraint use,0.00,0.08,...,Not Available,Not Available,1.0,Healthcare Personnel Influenza Vaccination,77,252,326,NaN,10/01/2015,03/31/2016

In [33]:
pyscho.shape

(1644, 85)

In [40]:
pyscho.isnull().sum()[0:10]

Provider_Number                   0
Hospital_Name                     0
Address                           0
City                              0
State                             0
ZIP_Code                          0
County_Name                       0
HBIPS-2_Measure_Description       0
HBIPS-2_Overall_Rate_Per_1000    31
HBIPS-2_Overall_Num              15
dtype: int64

In [37]:
len(pyscho)

1644

In [44]:
NAN=pyscho.isnull().sum()

In [47]:
mis_val_percent = 100 * pyscho.isnull().sum() / len(pyscho)

In [48]:
mis_val_percent

Provider_Number           0.000000
Hospital_Name             0.000000
Address                   0.000000
City                      0.000000
State                     0.000000
                           ...
HCP_Numerator             0.000000
HCP_Denominator           0.000000
HCP_Footnote             94.160584
Flu_Season_Start_Date     0.000000
Flu_Season_End_Date       0.000000
Length: 85, dtype: float64

In [50]:
mis_val_table = pd.concat([NAN, mis_val_percent], axis=1)

In [53]:
def missing_values_table(df):
        # Total missing values
        mis_val = pys.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * pys.isnull().sum() / len(pys)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(pys.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [83]:
mis_value = df.isnull().sum()

In [87]:
mis_value_percent =  df.isnull().sum() / len(df) * 100

In [94]:
mis_value/len(df) * 100

country           1.002205
year              0.000000
gender            0.000000
BMI               0.000000
BMI_upper_esti    3.523752
BMI_lower_esti    3.523752
dtype: float64

In [96]:
mis_value_table=pd.concat([mis_value,mis_value_percent],axis=1)

In [98]:
mis_value_table=mis_value_table.rename(columns={0:'Missing Values',1:'% of Missing Values'})

In [114]:
miss_value_ren_columns=mis_value_table[mis_value_table.iloc[:,1]!=0].sort_values('% of Missing Values',ascending=False).round(1)

In [112]:
mis_value_table[mis_value_table.iloc[:,1]!=0]

                Missing Values  % of Missing Values
country                    250             1.002205
BMI_upper_esti             879             3.523752
BMI_lower_esti             879             3.523752

In [124]:
print('your selected data frame has ' + str(df.shape[1]) +' columns.\n')
print('There are '+str(len(miss_value_ren_columns))+' columns have missing values')

your selected data frame has 6 columns.

There are 3 columns have missing values